<div class="row text-center">
  <div class="col-sm">
    <form (ngSubmit)="onSubmit()" #existingPlayerForm="ngForm">

      <label for="name">Name</label>
      <input type="text" id="name" class="form-control" required autofocus>

      <br/>
      <label for="player">Player</label>
      <select class="form-control" id="player" [(ngModel)]="playerId" name="playerId" required>
            <option *ngFor="let player of players" [value]="player.id">{{player.name}} <span *ngIf="player.entries">({{player.entries}})</span> </option>
      </select>

      <br/>
      <button class="btn btn-lg btn-primary" type="submit">Add Player</button>
    </form>
  </div>
</div>
