<app-navbar></app-navbar>

<main role="main" class="container-fluid">
  <div class="row text-center">
    <div class="col-sm">
      <p><b>{{season.startYear}}-{{season.endYear}}</b></p>
      <div class="accordion" id="accordionDetails">
        <div class="card">
          <div class="card-header" id="headingDetails">
            <h5 class="mb-0">
              <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#details" aria-expanded="false" aria-controls="details">
                Details
              </button>
            </h5>
          </div>
          <div id="details" class="collapse" aria-labelledby="headingDetails" data-parent="#accordionDetails">
            <div class="card-body">
              <table class='table table-borderless table-sm'>
                <tbody>
                  <tr>
                    <td>Start date</td>
                    <td>{{season.start}}</td>
                  </tr>
                  <tr>
                    <td>End date</td>
                    <td>{{season.end}}</td>
                  </tr>
                  <tr>
                    <td>Games played</td>
                    <td>{{season.numGames}}</td>
                  </tr>
                  <tr>
                    <td>Total buy in</td>
                    <td>${{season.buyIn}}</td>
                  </tr>
                  <tr>
                    <td>Total rebuy/add on</td>
                    <td>${{season.rebuyAddOn}}</td>
                  </tr>
                  <tr>
                    <td>Total Annual TOC</td>
                    <td>${{season.annualTocAmount}}</td>
                  </tr>
                </tbody>
              </table>
              <table class='table table-borderless table-sm'>
                <thead>
                  <tr>
                    <th scope='col'>Place</th>
                    <th scope='col'>Payout</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let payout of season.payouts">
                    <td>{{payout.place}}</td>
                    <td>${{payout.amount}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      <table class="table table-borderless table-sm">
        <thead>
          <tr>
            <th scope="col">Place</th>
            <th scope="col">Name</th>
            <th scope="col">Points</th>
            <th scope="col">Entries</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let player of season.players">
            <td>{{player.place}}</td>
            <td>{{player.name}}</td>
            <td>{{player.points}}</td>
            <td>{{player.entries}}</td>
          </tr>
        </tbody>
      </table>

      <div class="accordion" id="accordionQuarters">
        <div  *ngIf="season.quarters[0]" class="card">
          <div class="card-header" id="headingFirstQuarter">
            <h5 class="mb-0">
              <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#firstQuarter" aria-expanded="false" aria-controls="firstQuarter">
               1st Quarter
               </button>
            </h5>
          </div>
          <div id="firstQuarter" class="collapse" aria-labelledby="headingFirstQuarter" data-parent="#accordionQuarters">
            <div class="card-body">
              <table class="table table-borderless table-sm">
                <tbody>
                  <tr>
                    <td>Start date</td>
                    <td>{{season.quarters[0].start}}</td>
                  </tr>
                  <tr>
                    <td>End date</td>
                    <td>{{season.quarters[0].end}}</td>
                  </tr>
                  <tr>
                    <td>Games played</td>
                    <td>{{season.quarters[0].numGames}}</td>
                  </tr>
                  <tr>
                    <td>Total Quarterly TOC</td>
                    <td>${{season.quarters[0].quarterlyTocAmount}}</td>
                  </tr>

                  <tr>
                    <td align="center" colspan="2">Payouts</td>
                  </tr>
                  <tr *ngFor="let payout of season.quarters[0].payouts">
                    <td>{{payout.place}}</td>
                    <td>${{payout.amount}}</td>
                  </tr>
                </tbody>
              </table>
              <table class="table table-borderless table-sm">
                <thead>
                  <tr>
                    <th>Place</th>
                    <th>Name</th>
                    <th>Points</th>
                    <th>Entries</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let player of season.quarters[0].players">
                    <td>{{player.place}}</td>
                    <td>{{player.name}}</td>
                    <td>{{player.points}}</td>
                    <td>{{player.entries}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div  *ngIf="season.quarters[1]" class="card">
          <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                2nd Quarter
              </button>
            </h5>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionQuarters">
            <div class="card-body">
              2nd Q
            </div>
          </div>
        </div>
        <div  *ngIf="season.quarters[2]" class="card">
          <div class="card-header" id="headingThree">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                3rd Quarter
              </button>
            </h5>
          </div>
          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionQuarters">
            <div class="card-body">
              3rd Q
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
