<main role="main" class="container-fluid">
  <div class="row text-center">
    <div class="col-sm">

      <div class="accordion" id="accordionDetails">
        <div class="card">
          <div class="card-header" id="headingDetails">
            <h5 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#details" aria-expanded="false" aria-controls="details">
                    Details
                    </button>
                 </h5>
          </div>
          <div id="details" class="collapse" aria-labelledby="headingDetails" data-parent="#accordionDetails">
            <div class="card-body">
              <p class="text-center">Date: {{game.date}} | Host: {{game.hostName}} | Double buy in: {{game.doubleBuyin}} | Paid Players {{game.paidPlayers}} | Transport Supplies Required: {{game.transportRequired}} </p>
              <p class="text-center">Payouts</p>
              <table class="table table-borderless table-sm">
                <thead>
                  <tr>
                    <th>Place</th>
                    <th>Amount</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let payout of game.payouts">
                    <td>{{payout.place}}</td>
                    <td>${{payout.amount}}</td>
                  </tr>
                </tbody>
              </table>
              <p class="text-center">Money ${{game.buyIn + game.rebuyAddOn + game.annualTocAmount +  game.quarterlyTocAmount}} - TOC ${{game.adjustedAnnualTocAmount}} - QTOC ${{game.quarterlyTocAmount}} - Kitty ${{game.kitty}} = POT ${{game.buyIn + game.adjustedRebuyAddOn - game.adjustedAnnualTocAmount -  game.quarterlyTocAmount - game.kitty}}</p>
            </div>
          </div>
        </div>
      </div>

      <table class="table table-borderless table-sm">
        <tbody>
          <tr>
            <td><h3>Round 1</h3></td>
            <td><h3>20:00</h3></td>
            <td><h3>25/50/0</h3></td>
          </tr>
          <tr>
            <td></td>
            <td>
              <a href="#" data-toggle="dropdown">
              <i class="fas fa-step-backward"></i>
              </a>
              &nbsp;&nbsp;&nbsp;
              <a href="#" data-toggle="dropdown">
              <i class="fas fa-play"></i>
              </a>
              &nbsp;&nbsp;&nbsp;
              <a href="#" data-toggle="dropdown">
              <i class="fas fa-step-forward"></i>
              </a>
            </td>
            <td></td>
          </tr>
          <tr>
            <td>Round 2</td>
            <td>20:00</td>
            <td>50/100/0</td>
          </tr>
        </tbody>
      </table>
      <p class="text-center">Players: {{game.numRemainingPlayers}}/{{game.numPlayers}} &nbsp;&nbsp;&nbsp; Avg stack: {{game.averageStack}}</p>
    </div>
  </div>

  <div class="row text-center">
     <div class="col-sm">
       <hr>
       <table class="table table-borderless table-striped table-sm">
         <thead>
           <tr>
             <th></th>
             <th>Name</th>
             <th>Buy<br>In</th>
             <th>Re<br>Buy</th>
             <th>TOC</th>
             <th>QTOC</th>
             <th>Pts</th>
           </tr>
         </thead>
         <tbody>
           <tr>
             <th>1</th>
             <th>Brian<br>Baker</th>
             <th>30</th>
             <th>20</th>
             <th>10</th>
             <th>10</th>
             <th>135</th>
           </tr>
           <tr>
             <th>2</th>
             <th>Beau<br>Edge</th>
             <th>30</th>
             <th>20</th>
             <th>10</th>
             <th>10</th>
             <th>112</th>
           </tr>
           <tr>
             <th>3</th>
             <th>Roy<br>Feigel</th>
             <th>30</th>
             <th></th>
             <th></th>
             <th></th>
             <th>97</th>
           </tr>
           <tr>
             <th>x</th>
             <th>John<br>Hiatt</th>
             <th>30</th>
             <th></th>
             <th></th>
             <th></th>
             <th></th>
           </tr>
         </tbody>
       </table>
     </div>
  </div>

  <div class="row text-center">
     <div class="col-sm">
       <div class="accordion" id="accordionSeating">
          <div class="card">
             <div class="card-header" id="headingSeating">
                <h5 class="mb-0">
                   <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#seating" aria-expanded="false" aria-controls="seating">
                   Seating
                   </button>
                </h5>
             </div>
             <div id="seating" class="collapse" aria-labelledby="headingSeating" data-parent="#accordionSeating">
                <div class="card-body">
                  <form>
                    <div class="form-group">
                        <label for="numTables">Number of tables</label>
                        <select class="form-control" id="numTables">
                          <option></option>
                          <option>1</option>
                          <option>2</option>
                          <option>3</option>
                          <option>4</option>
                          <option>5</option>
                        </select>
                        <label for="seatsPerTable">Seats per table</label>
                        <select class="form-control" id="seatsPerTable">
                          <option></option>
                          <option>10</option>
                          <option>9</option>
                          <option>8</option>
                          <option>7</option>
                          <option>6</option>
                          <option>5</option>
                          <option>4</option>
                          <option>3</option>
                          <option>2</option>
                        </select>
                        <br>
                        <p>Seat player at table</p>
                        <table class="table table-borderless table-sm">
                          <tbody>
                            <tr>
                              <th>
                                <select class="form-control" id="playerId">
                                  <option></option>
                                  <option>Beau Edge</option>
                                  <option>Dave Benavidas</option>
                                </select>
                              </th>
                              <th>
                                <select class="form-control" id="tableNum">
                                  <option></option>
                                  <option>1</option>
                                  <option>2</option>
                                </select>
                              </th>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                  </form>
                  <button type="button" class="btn btn-warning">Reset Seating</button>
                  <br>&nbsp;

                </div>
             </div>
          </div>
       </div>

     </div>
  </div>

</main>
