<app-navbar></app-navbar>

<div role="main" class="container-fluid">
  <div class="row text-center">
    <div class="col-sm">

      <div class="accordion" id="accordionDetails">
        <div class="card">
          <div class="card-header" id="headingDetails">
            <h5 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#details" aria-expanded="false" aria-controls="details">
                    Details
                    </button>
                 </h5>
          </div>
          <div id="details" class="collapse" aria-labelledby="headingDetails" data-parent="#accordionDetails">
            <div class="card-body">
              <p class="text-center">Date: {{game.date}} | Host: {{game.hostName}} | Double buy in: {{game.doubleBuyin}} | Paid Players {{game.paidPlayers}} | Transport Supplies Required: {{game.transportRequired}} </p>
              <p class="text-center">Payouts</p>
              <table class="table table-borderless table-sm">
                <thead>
                  <tr>
                    <th>Place</th>
                    <th>Amount</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let payout of game.payouts">
                    <td>{{payout.place}}</td>
                    <td>${{payout.amount}}</td>
                  </tr>
                </tbody>
              </table>
              <p class="text-center">Money ${{game.buyIn + game.rebuyAddOn + game.annualTocAmount +  game.quarterlyTocAmount}} - TOC ${{game.adjustedAnnualTocAmount}} - QTOC ${{game.quarterlyTocAmount}} - Kitty ${{game.kitty}} = POT ${{game.buyIn + game.adjustedRebuyAddOn - game.adjustedAnnualTocAmount -  game.quarterlyTocAmount - game.kitty}}</p>
            </div>
          </div>
        </div>
      </div>

      <table class="table table-borderless table-sm">
        <tbody>
          <tr>
            <td><h3>Round 1</h3></td>
            <td><h3>20:00</h3></td>
            <td><h3>25/50/0</h3></td>
          </tr>
          <tr>
            <td></td>
            <td>
              <a href="#" data-toggle="dropdown">
              <i class="fas fa-step-backward"></i>
              </a>
              &nbsp;&nbsp;&nbsp;
              <a href="#" data-toggle="dropdown">
              <i class="fas fa-play"></i>
              </a>
              &nbsp;&nbsp;&nbsp;
              <a href="#" data-toggle="dropdown">
              <i class="fas fa-step-forward"></i>
              </a>
            </td>
            <td></td>
          </tr>
          <tr>
            <td>Round 2</td>
            <td>20:00</td>
            <td>50/100/0</td>
          </tr>
        </tbody>
      </table>
      <p class="text-center">Players: {{game.numRemainingPlayers}}/{{game.numPlayers}} &nbsp;&nbsp;&nbsp; Avg stack: {{game.averageStack}}</p>
    </div>
  </div>

  <div class="row">
      <div class="col-sm">
        <button class="btn btn-primary" routerLink="/existing-player">Add Player</button>
        &nbsp;&nbsp;&nbsp;
        <button class="btn btn-primary" routerLink="/new-player">Add New Player</button>
      </div>
  </div>

  <div class="row text-center">
     <div class="col-sm">
       <table class="table table-borderless table-striped table-sm">
         <thead>
           <tr>
             <th>Fin</th>
             <th>Name</th>
             <th>Buy<br>In</th>
             <th>Re<br>Buy</th>
             <th>TOC</th>
             <th>QTOC</th>
             <th>Pts</th>
             <th *ngIf="game.showChop">Chp</th>
           </tr>
         </thead>
         <tbody>
           <tr *ngFor="let player of game.players">
             <td>{{player.place}}</td>
             <td>{{player.name}}</td>
             <td>{{player.buyIn}}</td>
             <td>{{player.reBuyAddOn}}</td>
             <td>{{player.annualTocAmout}}</td>
             <td>{{player.quarterlyTocAmount}}</td>
             <td>{{player.points}}</td>
           </tr>
         </tbody>
       </table>
     </div>
  </div>
</div>

<app-game-seating></app-game-seating>
